[submodule "CHATCBBCommon"]
	path = CHATCBBCommon
	url = git@github.com:ChatGr0up/CHATCBBCommon.git
[submodule "CHATCBBThirdPartyDepends"]
	path = CHATCBBThirdPartyDepends
	url = git@github.com:ChatGr0up/CHATCBBThirdPartyDepends.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = all
