[submodule "CHATCBBCommon"]
	path = CHATCBBCommon
	url = git@github.com:ChatGr0up/CHATCBBCommon.git
[submodule "CHATCBBThirdPartyDepends"]
	path = CHATCBBThirdPartyDepends
	url = git@github.com:ChatGr0up/CHATCBBThirdPartyDepends.git
